html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background:#20011E;
    
}

.slantedDiv {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: #24152F;
    padding: 20px;
    opacity: 0.9;
    margin-bottom: 11%;
}

.slantedDiv:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    transform-origin: top left;
    transform: skewY(6deg);
    z-index: -1;
}

.slantedDiv div {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Parisienne', cursive;
}


.instruct {
    display: block;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    opacity: 0.5;
}

.form {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
}

label {
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 18px;
    opacity: 0.6;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: #20011E;
    color: #c7c6c1;
    font-family: 'Raleway', sans-serif;
}

input[type="submit"], button {
    padding: 5px 30px;
    border: 1px solid white;
    border-radius: 60px;
    background-color: #20011E;
    color: white;
    font-family: 'Raleway', sans-serif;
}

button {
    padding: 8px 30px;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;

}

.guesses, .lastResult, .lowOrHi {
    color: white;
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
}

.lastResult {
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.lowOrHi {
    font-size: 14px;
}

.slantedDiv a {
    color: white;
    opacity: 0.7;
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
}


@media only screen and (max-width: 420px)
{
    .slantedDiv div {
        font-size: 28px;
        text-align: justify;
    }

    .slantedDiv {
        margin-bottom: 15%;
    }
}
